.add-user-container {
  padding: 20px;
}

.add-user {
  display: flex;
  align-items: center;
justify-content: space-between;
padding: 0 0.4rem 0 0.2rem;
border-bottom: 2px solid black;
}

.user-header {
  border: solid 1px black;
  display: flex;
  flex-direction: row;
}


.user-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-user-container button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #afadad;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
