/* src/styles/TransactionPage.css */
.transaction-page {
  
  font-family: Arial, sans-serif;
}

.transaction-header {
  display: flex;
  align-items: center;
justify-content: space-between;
padding: 0 0.4rem 0 0.2rem;
border-bottom: 2px solid black;
}

.back-button {
  cursor: pointer;
  margin-right: 10px;
  font-size: 20px;
}

.user-selection {
  margin: 0.5rem 1rem 0 1rem;
}

.user-selection select {
  padding: 10px;
  font-size: 14px;
}

.table-container {
  overflow-x: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.transactions-table {
  width: 100%;
  min-width: 600px; /* Minimum width to prevent squishing */
  border-collapse: collapse;
}

.transactions-table th,
.transactions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}

.transactions-table th {
  background-color: #f2f2f2;
}

.transactions-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transactions-table tr:hover {
  background-color: #f1f1f1;
}
/* src/styles/TransactionPage.css */
.footer-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.contact-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #0056b3;
}

.filter-dropdown {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.loadtrans {
  border: solid red 1px ;
}